@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// customisations
$blue: #106BD9;
$primary: $blue;
$red: #FF0D22;

$navbar-item-active-color: $blue;

// justify content p text on mobiles
.content p {
  @extend .has-text-justified-mobile;
}

@import "~bulma/bulma";


