@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

//$blue: #4682B4;
//$green: #239B56;
//$red: #CB4335;

$primary: $blue;
//$info: #2E86C1;

$navbar-item-active-color: $blue;

// justify content p text on mobiles
.content p {
  @extend .has-text-justified-mobile;
}

// <em> tags wraps search terms in vue-instantsearch - tried to use scoped style but did not work
em {
  font-weight: bold;
  font-style: normal;
  background-color: $yellow;
}

@import "~bulma/bulma";


